/* primary : #2ECC71
   secondary : #F5D76E
   tertiary : #D64541
   black & white
*/

html, body {
    width: 100%;
    height: 100%;
    background: #F5D76E;
}

.navbar, .navbar-collapse {
    align-items: unset;
}

.navbar *,
.navbar *:hover {
    text-decoration: none;
    color: black;
}

.home,.header,.nav {
    background: #2ECC71;
}

.home-description {
    text-align: center;
    height: 100%;
    background: #3FC380;
}

.about-image {
    background: #C0392B;
}

.about-description {
    background: #D64541;
}

h1, h3 {
    text-align: center;
}